
<div class="body">
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">Se connecter</h4>
											<form >
                                             <div class="form-group">
                                              <input type="email" id="email" name="username" class="form-style" placeholder="E-mail" autocomplete="off" [(ngModel)]="email">
                                              <i class="input-icon uil uil-at"></i>
                                             </div>
                                             <div class="form-group mt-2 password-input">
                                              <input type="password" id="password" name="username" class="form-style" placeholder="Mot de passe" autocomplete="off" [(ngModel)]="password">
                                              <i class="bi bi-eye password-toggle-icon" ></i>
                                             </div>
											 <div class="d-flex justify-content-center pt-3" style="margin-top: 5%;">
												<h6  style="color: red;">* E-mail ou mot de passe incorrect *</h6>
											  </div>
                                             <button type="submit" class="btn mt-4" (click)="submitForm()">Soumettre</button>
                                            </form>

                            				<p class="mb-0 mt-4 text-center">
																			<a class="link" (click)="goToSignUp()">Pas un membre? Enregistrer</a>
																		</p>

				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
