@import '~bootstrap-icons/font/bootstrap-icons.css';
.password-input {
  position: relative;


}

.password-input input[type="password"] {
  padding-right: 35px; /* Space for the eye icon */
}

.password-toggle-icon-1{
  position: absolute;
  top: 23%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
} 

.password-toggle-icon-2 {
  position: absolute;
  top: 54%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

.addEXPENSE:hover {
    opacity: 0.5;
  }
  .col .text-right {
    margin-left: -20%;
  }

  .alert-custom {
    background-color: rgb(153, 134, 51);
    border-color: rgb(0, 0, 0);
    color: white;
  }
  .triangle-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
  }
  
  .triangle-container:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -20px;
    border-width: 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent rgb(145, 222, 253);
    z-index: 1;
  }
  

  


  /* Styles specific to big screens */
  @media (max-width: 550px) {
    .col .text-right {
      margin-left: 0px;
    }
  }