<section class="h-80 bg-dark"  style="background-image: url('../../assets/images/signupBG.png'); height: 100vh; " *ngIf="!waitingForConfirmation">
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="../../assets/images/Expenses.jpg"
                alt="Sample photo" class="img-fluid" /> 
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-2 text-uppercase" style="color:#1CA49A; font-size: 20px;"><b>Register now</b></h3>

                <div class="row" >                             
                <div class="d-flex justify-content-center pt-3" >
                  <h5  style="color: red; font-family:Comic Sans MS;">{{ error }}</h5>
                </div>
                  <div class="col-md-6 mb-4" style="margin-top: 4%;">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m" >First name</label>
                      <input type="text" id="form3Example1m" class="form-control form-control-lg" [(ngModel)]="firstname" required="true"/>  
                      <div class="invalid-field" *ngIf="!firstname && clicked">Please enter your first name</div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4" style="margin-top: 4%;">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n" >Last name</label>
                      <input type="text" id="form3Example1n" class="form-control form-control-lg" [(ngModel)]="lastname"/>  
                      <div class="invalid-field" *ngIf="!lastname && clicked">Please enter your last name</div>                     
                    </div>
                  </div>
                   
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example90">Email</label>
                  <input type="text" id="form3Example90" class="form-control form-control-lg"  [(ngModel)]="email"/>
                  <div class="invalid-field" *ngIf="!email && clicked">Please enter your email</div>  
                </div>
              </div>

                <div class="form-outline mb-4 password-input">
                  <label class="form-label" for="form3Example8">Password</label>
                  <input type="{{ showPassword ? 'text' : 'password' }}" type="text" id="form3Example8" class="form-control form-control-lg" [(ngModel)]="password"/>  
                  <i class="bi bi-eye password-toggle-icon" (click)="togglePasswordVisibility()" *ngIf="password"></i>
                  <div class="invalid-field" *ngIf="!password && clicked">Please enter your password</div>  
                </div>
                
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example99" >phone</label>
                  <input type="number" id="form3Example99" class="form-control form-control-lg no-spinner" [(ngModel)]="phone"
                  />
                  <div class="invalid-field" *ngIf="!phone && clicked">Please enter your phone</div>  
                </div>

                <div class="row mb-4" style="margin-top: 2%;">
                  <div class="col-md-6" >
                    <div class="d-md-flex align-items-center flex-column">
                      <h6 class="mb-0 me-4" style="font-size: 14px; font-family:Comic Sans MS;">Sex</h6>
                     <div class="flex-column" style="margin-top: 5%; font-family:Comic Sans MS;">
                      <div class="form-check form-check-inline mb-0 me-4 ">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender" value="Female" [(ngModel)]="gender" style="margin-top: 10px;" />
                        <label class="form-check-label" for="femaleGender" style="margin-top: 10px;">Female</label>
                      </div>
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender" value="Male" [(ngModel)]="gender" style="margin-top: 10px;" />
                        <label class="form-check-label" for="maleGender" style="margin-top: 10px;">Male</label>
                      </div>
                     </div>
                      <div class="invalid-field" *ngIf="!gender && clicked" >Please enter your sex</div>
                    </div>
                  </div>
    
                  <div class="col-md-6">
                    <div class="form-outline">
                      <label for="birthday" class="form-label">Birthdate</label>
                      <input type="date" id="birthday" class="form-control form-control-lg"  style="font-size: 15px;" [(ngModel)]="birthday" />
                      <div class="invalid-field" *ngIf="!birthday && clicked">Please enter your birthdate</div>
                    </div>
                  </div>
                </div>
                
                <div class="d-flex justify-content-end pt-3">
                  <button type="button"  class="btn btn-warning btn-lg ms-2 submit" (click)="onclick()"  style="width: 30%;height: 60px;background-color:#1CA49A; color: white;margin-right: 160px;margin-top: 5px; " >Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="loading" class="loading-spinner-overlay">
  <div class="d-flex justify-content-center align-items-center h-100">
    <mat-spinner diameter="50"></mat-spinner>
    <!-- Or use an HTML/CSS spinner if not using Angular Material -->
    <!-- <div class="spinner"></div> -->
  </div>
</div>


<!-- Add a wrapper div around your content -->
<div class="sky-blue-background" *ngIf="waitingForConfirmation">
  <div class="container mt-5" >
    <div class="card mx-auto confirmation" style="max-width: 600px;">
      <div class="card-body confirmation">
        <h5 class="card-title"><b>Email Confirmation</b></h5>
        <p class="card-text">Thank you for registering! Kindly check your Gmail for the confirmation email. Once confirmed in Gmail, please click the button below.</p>
        <button class="btn btn-primary" (click)="checkEnable()">Check Email Confirmation</button>
      </div>
    </div>
  </div>
</div>

