@import '~bootstrap-icons/font/bootstrap-icons.css';
.loading-spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  z-index: 1000; /* Ensure it appears on top of other elements */
}

/* Center the spinner within the overlay */
.loading-spinner-overlay .d-flex {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
}

.form-label,
.form-control,
.invalid-field{
  font-family:Comic Sans MS;
}
.password-input {
  position: relative;
}

.password-input input[type="password"] {
  padding-right: 35px; /* Space for the eye icon */
}

.password-toggle-icon {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.invalid-field{
  color: red;
  background-color: #ffeeee;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .form-control form-control-lg {
        padding: 13px 20px;
        padding-left: 55px;
        height: 48px;
        width: 100%;
        font-weight: 500;
        border-radius: 4px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.5px;
        outline: none;
        
        color: #c4c3ca;
        border: none;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
      }
      .form-control form-control-lg:focus,
      .fform-control form-control-lg:active {
        border: none;
        outline: none;
        box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
      }


.col-xl-6 d-none d-xl-block
{
  height: 100%;
  
}
.img-fluid{
  height: 100%;
}

.mb-0 me-4{
  color: red;
}
.submit:hover{
opacity: 70%;
border: none;
}

/* Add this to your global styles or component styles */
.sky-blue-background {
  background-color: rgba(122, 192, 233, 0.5);
  height: 100vh; /* Ensure the background covers the full height of the viewport */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sky-blue-background .card {
  background: white;
  padding: 90px; 
  border-radius: 10px; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  text-align: center;
  width: 600px; 
  position: relative;
  font-size: 20px;
}
.sky-blue-background .card-title {
  color: rgb(58, 47, 211);
  font-size: 26px; 
  margin-bottom: 40px;
}
.sky-blue-background button {
  background-color: #2f68d3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  outline: none; 
  width: 90%; 
  margin-top: 45px;
  height: 50px;
  box-sizing: border-box; 
}
