<section class="h-80 bg-dark">
  <div class="container py-5 h-100" >
    <div class="row d-flex justify-content-center align-items-center h-100" >
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="../../assets/images/Expenses.jpg"
                alt="Sample photo" class="img-fluid" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-2 text-uppercase" style="color:#1CA49A; font-size: 20px;"><b>Register now</b></h3>

                <div class="row" >                             
                <div class="d-flex justify-content-center pt-3" style="margin-top: -5%;">
                  <h5 *ngIf="fail" style="color: red;">* Email or phone already in use *</h5>
                </div>
                  <div class="col-md-6 mb-4" style="margin-top: 4%;">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1m" >First name</label>
                      <input type="text" id="form3Example1m" class="form-control form-control-lg" [(ngModel)]="firstname" required="true"/>  
                      <div class="invalid-field" *ngIf="!firstname && clicked">Please enter your first name</div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4" style="margin-top: 4%;">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n" >Last name</label>
                      <input type="text" id="form3Example1n" class="form-control form-control-lg" [(ngModel)]="lastname"/>  
                      <div class="invalid-field" *ngIf="!lastname && clicked">Please enter your last name</div>                     
                    </div>
                  </div>
                   
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example90">Email</label>
                  <input type="text" id="form3Example90" class="form-control form-control-lg"  [(ngModel)]="email"/>
                  <div class="invalid-field" *ngIf="!email && clicked">Please enter your email</div>  
                </div>
              </div>

                <div class="form-outline mb-4 password-input">
                  <label class="form-label" for="form3Example8">Password</label>
                  <input type="{{ showPassword ? 'text' : 'password' }}" type="text" id="form3Example8" class="form-control form-control-lg" [(ngModel)]="password"/>  
                  <i class="bi bi-eye password-toggle-icon" (click)="togglePasswordVisibility()" *ngIf="password"></i>
                  <div class="invalid-field" *ngIf="!password && clicked">Please enter your password</div>  
                </div>
                
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example99" >phone</label>
                  <input type="text" id="form3Example99" class="form-control form-control-lg" [(ngModel)]="phone"/>
                  <div class="invalid-field" *ngIf="!phone && clicked">Please enter your phone</div>  
                </div>

                <div class="row mb-4">
                  <div class="col-md-6" style="margin-top: 5%;">
                    <div class="d-md-flex align-items-center">
                      <h6 class="mb-0 me-4" style="font-size: 14px; margin-top: -4px; margin-left: 10px;">Sex:</h6>
                
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender" value="Female"
                          [(ngModel)]="gender" />
                        <label class="form-check-label" for="femaleGender">Female</label>
                      </div>
                      <div class="form-check form-check-inline mb-0 me-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender" value="Male"
                          [(ngModel)]="gender" />
                        <label class="form-check-label" for="maleGender">Male</label>
                      </div>
                      <div class="invalid-field" *ngIf="!gender && clicked">Please enter your sex</div>
                    </div>
                  </div>
                
                  <div class="col-md-6">
                    <div class="form-outline">
                      <label for="birthday" class="form-label">Birthdate</label>
                      <input type="date" id="birthday" class="form-control form-control-lg" [(ngModel)]="birthday" />
                      <div class="invalid-field" *ngIf="!birthday && clicked">Please enter your birthdate</div>
                    </div>
                  </div>
                </div>
                
                <div class="d-flex justify-content-end pt-3">
                  <button type="button" class="btn btn-warning btn-lg ms-2 submit" (click)="onclick(email,phone)"  style="width: 190px;height: 60px;background-color:#1CA49A; color: white; " >Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>