<div class="container-fluid" *ngIf="!refreshTokenExpired">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex flex-column position-relative">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100" >
        <div class="dropdown pb-4">
          <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 15%;">
            <i class="fs-4 bi-person"></i>
              <span class="d-none d-sm-inline mx-1" *ngIf="user">{{user.firstname}}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li><a class="dropdown-item" (click)="onOpenModal('delete')">Delete this account</a></li>
              <li><a class="dropdown-item" (click)="onOpenModal('update')">Personal information</a></li>
              <li><a class="dropdown-item" (click)="onOpenModal('changePassword')">change password</a></li>
              <li>
                  <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="onOpenModal('logout')">Log out</a></li>
          </ul>
        </div>
        <hr class="hr" />
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="/home" class="nav-link align-middle px-0">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>
            <li>
              <hr class="hr " />
                <a href="/expenses" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi bi-currency-exchange"></i> <span class="ms-1 d-none d-sm-inline">Expenses</span>
                   </a>
            </li>
            <li>
              <hr class="hr " />
                <a href="/visualisation" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi bi-bar-chart-line"></i> <span class="ms-1 d-none d-sm-inline">Visualisation</span> </a>
            </li>
            <li>
              <hr class="hr " />
              <a href="/contact"class="nav-link px-0 align-middle">
                  <i class="fs-4 bi bi-person-rolodex"></i> <span class="ms-1 d-none d-sm-inline">Contact</span> </a>
          </li>
        </ul>
      </div>
    </div>
      
      
      <div class="col py-3" style="background-color: beige;">
        <div class="container-fluid" id="main-container">
          <div class="row flex-nowrap" style="margin-top: -2%;">
            <!-- Content Area -->
            <div class="col py-3">
              <!-- Home Icon and Text -->
              <div class="d-flex align-items-center justify-content-between" style="margin-top: 2%;">
                <div>
                  <i class="bi bi-house" style="color: rgb(71, 150, 241);"></i>
                  <span class="ms-1" style="font-weight: bold; color: rgb(71, 150, 241); font-family: 'Arial', sans-serif;">Home</span>
                </div>          
                <!--<div class="d-none d-sm-flex align-items-center justify-content-center pb-3 mb-md-0 text-white text-decoration-none">
                 <img src="../../assets/images/comwork.png" width="130%" height="50vw" style="margin-left: -20%;">
                </div> -->
                <div class="d-flex d-sm-none align-items-center"> <!-- This div will be shown on extra small screens only -->
                  <i class="bi bi-calendar-plus" style="color: rgb(71, 150, 241); font-size: 24px;" (click)="onOpenModal('expense')"></i>
                </div>
                <div class="d-none d-sm-flex align-items-center addEXPENSE"  style="cursor: pointer; color: rgb(0, 37, 244); " (click)="onOpenModal('expense')" > 
                  <i class="bi bi-calendar2-plus"></i>
                  <span class="ms-1" style="font-family: 'Arial', sans-serif;" >Add your expenses</span>
                </div>
              </div>
              
              <!-- Card -->
              <div class="card mt-4" *ngIf="user">
                <div class="card-body" style="background-color: rgb(154, 201, 255);">
                  <div class="d-flex justify-content-between flex-wrap"> <!-- flex-wrap for wrapping items on smaller screens -->
                    <h5 class="card-title" style="font-family: Verdana, sans-serif;">{{user.firstname}} {{user.lastname}}</h5>
                    <p class="card-text" style="font-family: Verdana, sans-serif;">Data scientist</p>
                  </div>
                </div>
                <div class="card-footer" style="background-color: rgb(216, 234, 255);">
                  <div class="d-flex justify-content-between flex-wrap"> <!-- flex-wrap for wrapping items on smaller screens -->
                    <p class="mb-0" style="font-family: Verdana, sans-serif;">{{user.email}} / {{user.phone}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <hr class="hr " />
        <h3 style="margin-left: 1%; color: rgb(80, 44, 0);">Recent expenses</h3>
        <!-- Loop through each leave in the 'leaves' array -->
        <ng-container *ngFor="let expense of expenses" style="margin-top: 2%;">
          <!-- Card -->
          <div class="card mt-4 " style="width: auto; border-radius: 10px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); ">
            <div class="card-body" style="max-height: 50%; overflow: hidden;">
              <h5 class="card-title" style="font-family: Verdana, sans-serif; color: rgb(143, 86, 0);"><b>Expense informations</b></h5>
              <div class="row">
                <div class="col">
                  <p class="mb-1"><b>Category</b></p>
                  <p class="mb-1"><b>Sub-catgory:</b></p>
                  <p class="mb-1"><b>Amount</b>:</p>
                </div>
                <div class="col" style="margin-right: -20px;">
                  <p class="mb-1">{{ expense.category}}</p>
                  <p class="mb-1">{{ expense.subcategory }}</p>
                  <p class="mb-1">{{ expense.amount}} dt</p>
                </div>
                <div class="col d-none d-sm-block">
                  <!-- Hide 'vr' in small screens (hidden on screens smaller than "sm") -->
                  <div class="vr" style="height: 50px; width: 1px; background-color: #000;"></div>
                </div>
                <hr class="d-block d-sm-none" style="margin: 0; margin-top: 10px; margin-bottom: 10px;">
                <div class="col">
                  <p class="mb-1"><b>Adding date:</b></p>
                </div>
                <div class="col" style="margin-right: -20px;">
                  <p class="mb-1">{{ expense.addingdate | date: 'mediumDate' }}</p>
                </div>
                <!-- Show the horizontal line on screens smaller than "sm" (i.e., in small screens) -->
                <!-- Status and Reason of Rejection (Right-aligned) -->
                <div class="col text-right " >
                  <span  class="trash-icon" style="position: absolute; right: 15px; bottom: 15px;"
                  (click)="deleteExpense(expense.id)" title="Delete the expense">
                    <i class="bi bi-trash3-fill" style="color: red;"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        
 
        <div class="col-lg-12 col-md-12 col-xl-12" *ngIf="expenses && expenses.length === 0" style="margin-top: 2%;">
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">no expenses !</h4>
            <p>no expenses added yet .</p>
          </div>
        </div> <br>
        <hr class="hr " />
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2>Highest Categories Used</h2>
            </div>
          </div>
          <div class="row" *ngIf="categoriesUsed && !(categoriesUsed.length === 0)">
            <div class="col-md-6">
              <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}" *ngIf="fixed"></canvasjs-chart>
            </div>
            <div class="col-md-6">
              <canvasjs-chart [options]="chartOptions2" [styles]="{width: '100%', height:'360px'}" *ngIf="fixed"></canvasjs-chart>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-xl-12" *ngIf="categoriesUsed && categoriesUsed.length === 0" style="margin-top: 2%;">
            <div class="alert alert-info alert-custom" role="alert">
              <h4 class="alert-heading">no categories !</h4>
              <p>no categories added yet .</p>
            </div>
          </div>
        </div>        
      </div>
  </div>

</div> 
<!-- personal informations modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="updateUserModalLabel" aria-hidden="true" *ngIf="user">
  <!-- Modal content goes here -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateUserModalLabel">Personal information</h5>
        <button id="close-update" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="isEditMode = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm">
          <!-- Your form fields here -->
          <div class="form-group">
            <label for="firstname">First name</label>
            <input type="text" [disabled]="!isEditMode"  name="firstname" class="form-control" [(ngModel)]="user.firstname"  id="firstname"  required>
          </div>
          <div class="form-group">
            <label for="lastname">Last name</label>
            <input type="text" [disabled]="!isEditMode"  name="lastname" class="form-control" [(ngModel)]="user.lastname"  id="namlastnamee"  required>
          </div>
          <div class="form-group">
            <label for="gender">Sex</label>
            <select [disabled]="!isEditMode" [(ngModel)]="user.gender" name="gender" id="gender" class="form-control" required>
              <option [value]="'Male'">Male</option>
              <option [value]="'Female'">Female</option>
            </select>
          </div> 
          <div class="form-group">
            <label for="birthdate">Birthdate</label>
            <input type="date" [disabled]="!isEditMode"  name="birthdate" class="form-control" [(ngModel)]="user.birthdate"  id="birthdate"  required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [disabled]="true"  name="email" class="form-control" [(ngModel)]="user.email" id="email" required>
          </div>
         
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" [disabled]="true"  name="phone" class="form-control" [(ngModel)]="user.phone"  id="phone"  required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div *ngIf="!isEditMode">
          <a (click)="isEditMode = true" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit">
            <i class="bi bi-pencil-square"></i>
          </a>
        </div>
        <div *ngIf="isEditMode">
          <button type="button" (click)="saveChanges()" class="btn btn-success">Save Changes</button>
          <button type="button" (click)="cancelEdit()" class="btn btn-danger">Cancel</button>
        </div>
        
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete account</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete this account?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button class="btn btn-danger" data-dismiss="modal" (click)="onDelete()">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- Logout Modal -->
<div class="modal fade" id="logoutUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Log out</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to log out??</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button class="btn btn-danger" data-dismiss="modal" (click)="onLogout()">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
    <!-- change-password Modal -->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changePasswordModalLabel">Change password</h5>
            <button id="close-password"type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showCurrentPassword= false; showNewPassword=false;currentPassword='';newPassword='' ; incorrect=false;" >
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
            <div class="modal-body">
               <form #editForm="ngForm">
                <div class="form-group">
                  <label for="phone">Current password</label>
                  <input type="{{ showCurrentPassword ? 'text' : 'password' }}" name="password" class="form-control" id="password" [(ngModel)]="currentPassword"required>
                  <i class="bi bi-eye password-toggle-icon-1" (click)="toggleCurrentPasswordVisibility()" *ngIf="currentPassword || newPassword"></i>       
                </div>
                <div class="form-group" style="margin-top: 4%;">
                  <label for="address">New password</label>
                  <input type="{{ showNewPassword ? 'text' : 'password' }}" name="password" class="form-control"  id="nouveauPassword"  [(ngModel)]="newPassword"required>
                  <i class="bi bi-eye password-toggle-icon-2" (click)="toggleNewPasswordVisibility()" *ngIf="currentPassword || newPassword"></i> 
                </div>
                <div class="d-flex justify-content-center pt-3" >
                  <h6  style="color: red;" *ngIf="!currentPassword && !newPassword && incorrect">* incorrect password entered *</h6>
                </div>
                  <div class="modal-footer">
                     <!--<button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>-->
                     <button   class="btn btn-primary" (click)="changePassword()" >Confirm</button>
                  </div>
               </form>
            </div>
         </div> 
      </div>
    </div>
<!--debut-->
<div class="container-fluid" id="session-container" >
  <!-- Modal -->
  <div class="modal fade" id="sessionExpiredModal" tabindex="-1" role="dialog" aria-labelledby="sessionExpiredModalLabel" aria-hidden="true"
  style="background-color: rgb(255, 255, 205);">
    <div class="modal-dialog" role="document">
       <div class="modal-content" style="background-color: rgb(251, 242, 228);">
          <div class="modal-header">
             <h5 class="modal-title" id="sessionExpiredModalLabel">Session Expired</h5>
          </div>
          <div class="modal-body">
             <p>Your session has expired. You need to log in again.</p>
             <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" style="background-color: rgb(0, 67, 45); border: 0px;" 
                (click)="goToLogin()">Login</button>
             </div>
          </div>
       </div>
    </div>
  </div>
<!--fin-->
  <!-- Expense Modal -->
  <div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="expenseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateEmployeeModalLabel">Add your expense</h5>
             <button id="close-expense" type="button" class="close" data-dismiss="modal" aria-label="Close" 
             (click)="resetExpense()">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="addingDate">Expense date</label>
                   <input type="date"  name="addingDate" class="form-control" id="addingDate"  [(ngModel)]="addingDate">
                </div>
                <div class="form-group">
                  <label for="amount">Amount</label>
                  <div class="input-group">
                    <input type="number" name="amount" class="form-control" id="amount" [(ngModel)]="amount">
                    <div class="input-group-append">
                      <span class="input-group-text">dt</span>
                    </div>
                  </div>
                </div>                
                <div class="form-group">
                  <label for="category">Category</label>
                  <div *ngIf="category !== 'personalized'; else personalizedCategories">
                    <div class="input-group">
                      <select name="category" id="category" class="form-control" [(ngModel)]="category" (change)="onCategoryChange()">
                        <option *ngFor="let cat of categories" [value]="cat">{{ expenseData[cat].name }}</option>
                        <!-- Option for personalized category -->
                        <option value="personalized">Personalized Category</option>
                      </select>
                      <!-- Trash icon for deleting personalized category -->
                      <span class="input-group-append"*ngIf="isCategoryInPersonalized(category)" title="Delete the category">
                        <button class="btn btn-outline-secondary" type="button" (click)="deleteCategory()">
                          <i class="bi bi-trash3-fill" style="color: red;"></i>
                        </button>
                      </span>
                    </div>
                  </div>
                  
                  <!-- Input for personalized category -->
                  <ng-template #personalizedCategories>
                    <div class="input-group">
                      <input type="text" name="personalizedCategory" id="personalizedCategory" class="form-control" [(ngModel)]="personalizedCategory" placeholder="Personalized Category">
                      <!-- Trash icon for deleting personalized category -->
                    </div>
                  </ng-template>
                </div>
                
                
                <div class="form-group">
                  <label for="subCategory">Sub-category</label>
                  <div *ngIf="!(subCategory === 'personalized' || category === 'personalized'); else personalizedSubcategories">
                    <div class="input-group">
                    <select name="subCategory" id="subCategory" class="form-control" [(ngModel)]="subCategory">
                      <option *ngFor="let subCat of expenseData[category]?.subcategories" [value]="subCat">{{ subCat }}</option>
                      <option value="personalized">Personalized Category</option>
                    </select>
                      <!-- Trash icon for deleting personalized category -->
                      <span class="input-group-append" *ngIf="isSubCategoryInPersonalized(subCategory)" title="Delete the sub-category">
                        <button class="btn btn-outline-secondary" type="button" (click)="deleteSubCategory()">
                          <i class="bi bi-trash3-fill" style="color: red;"></i>
                        </button>
                      </span>
                      </div>
                  </div>
                  <!-- Input for personalized subcategory -->
                  <ng-template #personalizedSubcategories>
                    <div class="input-group">
                      <input type="text" name="personalizedSubCategory" id="personalizedSubCategory" class="form-control" [(ngModel)]="personalizedSubCategory" placeholder="personalized SubCategory">
                    </div>     
                   </ng-template>
                </div>
                <div class="form-group">
                  <div class="d-flex justify-content-center pt-3" >
                    <h6  style="color: red;" *ngIf="error">{{error}}</h6>
                  </div>
                </div>
                
                
                <div class="modal-footer">
                   <!--<button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>-->
                   <button class="btn btn-primary" (click)="onAddExpense()">Soumettre</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
